.container{
  border: 1px solid black;
  margin: 10px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
}
h1 {
  text-align: center;
  color: rgb(195, 0, 255);
  background-color:rgba(128, 128, 128, 0.268) ;
}